[user]
	name = Ray Grasso
	email = rgrasso@thoughtworks.com
[color]
	ui = auto
[alias]
	unstage = reset HEAD
[core]
	excludesfile = /Users/rgrasso/.gitignore_global
	editor = /usr/bin/vim
[diff]
	external = /Users/rgrasso/bin/git-diff-wrapper.sh
